/*@import url('reset.css');*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
html, * {
    padding:0;
    margin:0;
}
* {
    box-sizing: border-box;
}

/* TYPOGRPAHY */
ul {list-style:none;padding:0;margin:0;}
h1{ font-size: 2em;font-family: 'Oswald', sans-serif;font-weight:400;}
h2{ font-size: 1.5em;font-family: 'Oswald', sans-serif;font-weight:400;}
h3{ font-size: 1.17em;font-family: 'Oswald', sans-serif;font-weight:400;}
h4{ font-size: 1em;font-family: 'Oswald', sans-serif;font-weight:400;}
h5{ font-size: 0.83em;font-family: 'Oswald', sans-serif;font-weight:400;}
h6{ font-size: 0.75em;font-family: 'Oswald', sans-serif;font-weight:400;}

p { line-height: 1.5;
    margin: 0 0 1em;    }

/*
COLUMN LOGIC
*/
.row [class*="col-"] {
    float: left;
}
.col-1 { width: calc((100%/12)*1) ;}
.col-2 { width: calc((100%/12)*2) ;}
.col-3 { width: calc((100%/12)*3) ;}
.col-4 { width: calc((100%/12)*4) ;}
.col-5 { width: calc((100%/12)*5) ;}
.col-6 { width: calc((100%/12)*6) ;}
.col-7 { width: calc((100%/12)*7) ;}
.col-8 { width: calc((100%/12)*8) ;}
.col-9 { width: calc((100%/12)*9) ;}
.col-10 { width: calc((100%/12)*10) ;}
.col-11 { width: calc((100%/12)*11) ;}
.col-12 { width: calc((100%/12)*12) ;}
.row::after {
	content:'';
	display:block;
	clear:both;
}


/*
GREEN #687561
ORANGE #E17645
 */

body {
    font-size:16px;
    font-family:Helvetica,Arial,sans-serif;
    background:#687561; /*Flood page with green so no white gaps at the bottom*/
}
.body {
    padding:2em 0;
    background:#FFF; /* COUNTER THE GREEN FLOOD FROM ABOVE */
    position:relative;
}
/* NAV STYLES */
nav {
    background:#687561;
    height:75px;
    width:100%;
    line-height:75px;
    position:fixed;
    top:0;
    box-shadow: 0px 0px 20px #000;
}
nav::after {
    content: ' ';
    clear:both;
}
.nav__brand {
    height:110px;
    width:110px;
    background:url('/img/nav-logo.svg') no-repeat center center;
    display:block;
    float:left;
    position:relative;
    top:20px;

}
.nav__brand__span {
    display:none;
}
nav ul {
font-family: 'Oswald', sans-serif;
    float:right;

}
nav ul li {
float:left;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding:0 1em;
    color:#FFF;
    font-size:1.2em;
    transition: 0.5s;
    display:block;
    position:relative;
}
nav ul li a:hover {
    color:#E17645;
    text-shadow: 0px 0px 5px #333;
    /*border-bottom:5px solid #E17645;*/
}
nav ul li a:hover::after {
    content:'';
    position:absolute;
    width:50px;
    height:5px;
    bottom:0px;
    left:25%;
    background:#E17645;

}

.hero {
    height:350px;
    width:100%;
    margin-top:75px;
    background:url('/img/placeholder-2.jpg') center center no-repeat fixed;
    background-size:cover;
    display:block;
}

.container {
    width:80%;
    margin:0 auto;
}
.overlap {
    position:relative;
    top:-100px;
    background:#FFF;
    z-index:1;
}
.overlap::after {
    content:"";
    height:200px;
    width:100%;
    padding:2em;
    margin:0 auto;
    display:block;
    background:#F00;
    position:absolute;
    opacity:0.2;
    top:-2em;
    left:-2em;
    z-index:0;
}

/* FOOTER STYLES */
footer p {
    text-align:center;
    padding:1em 0;
    font-size:0.8em;
    color:#CCC;
}