/*@import url('reset.css');*/
@import url('/css/weather-icons.min.css');

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
html, * {
    padding:0;
    margin:0;
}
* {
    box-sizing: border-box;
}

/* typogrpahy */
ul {list-style:none;padding:0;margin:0;}
h1{ font-size: 2em;font-family: 'oswald', sans-serif;font-weight:400;}
h2{ font-size: 1.5em;font-family: 'oswald', sans-serif;font-weight:400;}
h3{ font-size: 1.17em;font-family: 'oswald', sans-serif;font-weight:400;}
h4{ font-size: 1em;font-family: 'oswald', sans-serif;font-weight:400;}
h5{ font-size: 0.83em;font-family: 'oswald', sans-serif;font-weight:400;}
h6{ font-size: 0.75em;font-family: 'oswald', sans-serif;font-weight:400;}


p { line-height: 1.5;
    margin: 0 0 1em;    }

/*
column logic
*/
.row [class*="col-"] {
    float: left;
    padding: 20px;
}
.row [class*="col-"]:first-child {
    padding-left:0;
    /*background:#f00;*/
}
.row [class*="col-"]:last-child{
    padding-right:0;
    /*background:blue;*/
}
/*temp for visual debug*/
/*.row [class*="col-"]:nth-child(even){*/
/*background:rgba(155,0,155,0.3);*/
/*}*/
/*.row [class*="col-"]:nth-child(odd){*/
/*background:rgba(155,155,0,0.3);*/
/*}*/

.col-1 { width: calc((100%/12)*1) ;}
.col-2 { width: calc((100%/12)*2) ;}
.col-3 { width: calc((100%/12)*3) ;}
.col-4 { width: calc((100%/12)*4) ;}
.col-5 { width: calc((100%/12)*5) ;}
.col-6 { width: calc((100%/12)*6) ;}
.col-7 { width: calc((100%/12)*7) ;}
.col-8 { width: calc((100%/12)*8) ;}
.col-9 { width: calc((100%/12)*9) ;}
.col-10 { width: calc((100%/12)*10) ;}
.col-11 { width: calc((100%/12)*11) ;}
.col-12 { width: calc((100%/12)*12) ;}
.row::after {
    content:'';
    display:block;
    clear:both;
}

/*
green #687561
orange #e17645

colors
 */


.btn {
    background-color: #333333; /* green */
    border: none;
    color: #fff;
    padding:10px 20px;
    margin:0 0 0.5em 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:1em;
    border-radius:5px;
    font-family:oswald,sans-serif;
    transition:background-color 0.2s;
    /*box-shadow:0px 0px 3px #333;*/
}
.btn-small {
    font-size:0.7em;
}
.btn-lg {
    padding: 15px 32px;
    font-size: 1.2em;

}
.btn-orng {background:#e17645;}
.btn-orng:hover {background: #ff9455;}
.btn-khak {background:#687561;}
.btn-khak:hover {background: #86937e;}

.khaki-bg {background:#687561;}
.khaki-txt {color:#687561;}
.orange-bg {background:#e17645;}
.orange-txt {color:#e17645;}

.btn-back {
    position:absolute;
    top:100px;
    left:50px;
    box-shadow:0px 0px 10px #333;
}

html, body {
    min-height:100%;
}

body {
    position:relative;
    font-size:16px;
    font-family:helvetica,arial,sans-serif;
    color: #34412d;
    background:#687561; /*flood page with green so no white gaps at the bottom*/
}
.noscrolling {
    overflow: hidden;
}
.body {
    /*padding:2em 0;*/
    padding:0 0 2em 0;
    background:#fff; /* counter the green flood from above */
    position:relative;
    z-index:0;
}
/* nav styles */
nav {
    background:#687561;
    height:75px;
    width:100%;
    line-height:75px;
    position:fixed;
    top:0;
    z-index:100;
    box-shadow: 0 0 20px #000;
}
nav::after {
    content: ' ';
    clear:both;
}
.nav__brand {
    height:110px;
    width:110px;
    background:url('/img/nav-logo.svg') no-repeat center center;
    display:block;
    float:left;
    position:relative;
    top:20px;
    box-shadow:0 0 10px #333;
    border-radius:50%;
    transition:0.4s ease-in-out;
}
.nav__brand:hover {
    box-shadow:0 0 30px #333;
    transform: rotate(360deg);
}
.nav__brand__span {
    display:none;
}
.nav__hamburger, .nav__telephone {
    display:none;
}
.nav__menu {
    font-family: 'oswald', sans-serif;
    float:right;
    position:relative;

}
.nav__menu li {
    float:left;
}
.nav__menu li a {
    text-decoration: none;
    text-transform: uppercase;
    padding:0 1em;
    color:#fff;
    font-size:1.2em;
    transition:color 0.25s ease;
    display:block;
    position:relative;
}
.nav__menu li a:hover {
    color:#e17645;
    text-shadow: 0 0 5px #333;
}
.nav__menu li a::after {
    content:'';
    position:absolute;
    width:25px;
    height:5px;
    bottom:0;
    left:calc((100% - 25px)/2);
    background:#fff;
    opacity:0;
    transition: opacity 0.25s;
}
.nav__menu li a:hover::after {
    opacity:0.8;
    box-shadow:0 0 10px #eee;
}

.nav__submenu {
    background:rgba(255,255,255,1);
    position:absolute;
    top:75px;
    left:300%;
    display:block;
    width:100%;
    opacity:0;
    padding:1em 0 0 0;
    box-shadow:0 10px 10px #666;
    transition:left 0.5s ease-out,opacity 1s ease;
}
.nav__submenu li {
    float:left;
    width:calc(50% - 1em);
    display:block;

}
.nav__submenu li a {
    color:#e17645;
}
.nav__submenu li a:hover {
    text-shadow:none;
    color:#ff9455;
}

.nav__submenu li a img {
    width:45%;
    margin:0 1em 0 0;
    transition:0.25s;
}
.nav__submenu li a:hover img {
    opacity: 0.75;
}

/*display on hover*/
.nav__menu li:nth-child(3):hover .nav__submenu,
.nav__menu li:nth-child(4):hover .nav__submenu {
    top:75px;
    left:0;
    opacity: 1;
    display:block;
}

.hero {
    width:100%;
    margin-top:75px;
    background:url('/img/full-size-hero/hero-4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:calc(50px + 2em) 0 calc(100px + 2em) 0;
    /*padding:75px 0 10vh 0;*/
    min-height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    position:relative;
    z-index:-3;
    transition:all 2s ease;
}
/*.hero.about-us {*/
    /*background:url('/img/site-photos/placeholder-1.jpg') center center no-repeat fixed;*/
    /*background-size:100%;*/

/*}*/
/*TODO: THERE IS AN ISSUE HERE ON IE AND SAFARI*/
.hero::after {
    content: '';
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.25);
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
}
.hero h1 {
    font-size:3em;
    z-index:3;
}
.hero.fullscreen {
    height:calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding:0;*/
}
.hero.boat-hire {
    background:url('/img/narrow-hero/gallery-1.jpg') no-repeat center center!important;
    background-size: cover;
}
/*.fullscreen .row [class*="col-"]{*/
/*!*padding-right:0;*!*/
/*!*background:blue;*!*/
/*}*/

.container {
    width:80%;
    max-width:1536px;
    margin:0 auto;
}
/* MAP STYLING CONTACT PAGE*/
#location-map {
    margin:75px 0 0 0;
    height:50vh;
    width:100%;
    display:block;
    z-index:-2;
}
#full-size-map {
    height:calc(100vh - 75px);
    margin-top:calc(75px);
    width:100%;
    display:block;
    background:#CCC;
}
.map-info-window {
    color:#687561;
    width:300px;
    position:relative;

}
.map-info-window h1 {
    font-family: Oswald, Arial, sans-serif;
}
.map-info-window .difficulty {
    font-family:Oswald, Arial, Helvetica, sans-serif;
    height:50px;
    width:50px;
    text-align:center;
    line-height:50px;
    color:#FFF;
    box-shadow:0px 0px 5px #666;
    border-radius:5px;
    position:absolute;
    bottom:5px;
    right:5px;
}

.map-info-window .d3 {background:#E14545;}
.map-info-window .d2 {background:#E17645;}
.map-info-window .d1 {background:#27C664;}

/* presentation band */
.band {
    background:#e17645;
    color:#fff;
    padding:75px 0;
    position:relative;
    background:linear-gradient(#e17645,#e17645, #ff9455, #ff9455);
}

.band::after,
.band::before {
    content: '';
    height:calc(100vw * 0.034722222);
    background-size:100%;
    width:100%;
    display:block;
    position:absolute;
    left:0;

}
.band::before {
    background:url('/img/band-top.svg') top center no-repeat #fff;
    top:0;
}
.band::after {
    background:url('/img/band-bottom.svg') bottom center  no-repeat #fff;
    bottom:-1px;

}
.nooverlap {
    padding:2em 0 2em 0;
}
.nohero {
    margin-top:75px;
}


video#bgvid {

    top:0;
    left:0;

    min-width:100%;
    width:100%;
    height:50vh;
    width: auto;
    height: auto;
    z-index:-5;
    /*z-index: -100;*/
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover;
}

/*ROUTE STYLES*/

.route-row {
    margin-bottom:1em;
    display:flex;
    transition:all 0.5s ease;
}
.row .route:nth-child(1){ margin:0 0.5em 0 0;}
.row .route:nth-child(2){ margin:0 0 0 0.5em;}
.route {
    background:url('/img/activities/canoeing.jpg') no-repeat center center #687561;
    background-size:cover;
    border-radius:5px;
    color:#FFF;
    font-size:100%;
    width:50%;
    float:left;
    padding:2em;
    display:flex;
    transition:all 0.5s ease;
    position:relative;
    z-index:1;
}

.route::after {
    content:'';
    display:block;
    width:100%;
    height:100%;
    background:#687561;
    position:absolute;
    opacity:0.9;
    border-radius:5px;
    top:0;
    left:0;
    z-index:-1;
    transition:0.5s all ease;
}
.route:hover.route::after {opacity:0.95;}
.route:hover .route__weather {
    box-shadow:inset 0px 0px 10px #333;

}
.route::after {
    content: '';
    display:block;
    clear:both;
}
/* FOR ODD ROWS*/
.route:only-child {width:calc(50% - 0.5em);margin:0!important;}



.route__weather {
    background:#FFF;
    color:#687561;
    border-radius:5px;
    text-align: center;
    padding:1em;
    margin:0 1em 0 0;
    height:100%;
    width:45%;
    float:left;
    box-shadow:inset 0px 0px 15px #333;
    transition:all 0.5s ease;
}

.route__weather__temp i:first-child {color:deepskyblue;}
.route__weather__temp i:nth-child(2) {color:darkred;}
.route__weather__sun, .route__weather__temp, .route__weather__icon, .route__weather__description {
    /*flex:1;*/
    margin:1em;


}
.route__weather .main-icon {
    font-size:75px;
    color:#e17645;
}

.route__info {
    width:50%;
    float:left;
    align-self: flex-end;
}
.route__description {
    white-space: pre-line;
}
.route__info .btn {
    display:block;
    margin:0.5em 0 0 0;
}

/*activity styles*/

.activity {
    background:#687561;
    background-size:cover;
    color:#fff;
    border-radius:10px;
    width:calc(50% - 0.5em);
    float:left;
    overflow:hidden;
    position:relative;
}
.activity:nth-child(odd){margin:0 0.5em 1em 0;}
.activity:nth-child(even){margin:0 0 1em 0.5em;}
.activity::after {
    content: '';
    display:block;
    z-index:2;
}
.activity .activity__content {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(104, 117, 97, 0), rgba(104, 117, 97, 1));
    padding:2em;
}
.activity img {
    width:100%;
    display:block;
    z-index:-3;
    opacity: 0.1;
}

.activity__heading {
    color:#e17645;
    text-transform: uppercase;
    font-size:2em;
}

.activity__content .btn {
    font-size:1.5em;
    margin:0;
}


/* footer styles */
.footer__copyright {
    text-align:center;
    padding:1em 0;
    font-size:0.8em;
    color:#ccc;
}
footer {
    color:#fff;
    padding:2em 0 5em 0;
    background:url(/img/faded-logo@2x.png) bottom center no-repeat fixed;
    background-size: auto;
    position:relative;
    /*z-index:100;*/
    /*background-attachment: ;*/
}
footer h2 {
    font-size:1.2em;
    text-transform: uppercase;
    padding:0 0 0.8em 0;
    text-shadow:1px 1px 5px #666;
}
footer form {
    /*display:inline-block;*/
}
footer form label {
    display:none;
}
footer form div {
    position:relative;
}
footer form  input[type=text] {
    width:100%;
    height:40px;
    padding:0 100px 0 10px;
    border:none;
    border-radius:3px;
    position:relative;
    display:block;
}
footer form input[type=text]::placeholder {
    color:#ccc;
    font-size:1.3em;
}
footer form button[type=submit] {
    height:34px;
    width:95px;
    border:none;
    position:absolute;
    bottom:3px;
    right:3px;
    background:#e17645;
    color:#fff;
    font-size:0.8em;
    cursor: pointer;
    transition:background-color 0.25s ease;
}
footer form button[type=submit]:hover {
    background:#ff9455;
}

.footer__socialmenu {
    padding:0 0 1em 0;
}
.footer__socialmenu li {
    display:inline-block;
}
.footer__socialmenu li a {
    height:40px;
    width:40px;
    margin:0 5px 0 0;
    background:#e17645;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    color:#fff;
    font-size:1.5em;
    border-radius:3px;
    transition: background-color 0.25s ease-out, font-size 0.3s ease;
}
.footer__socialmenu li a:hover {
    background:#ff9455;
    /*font-size:1.8em;*/
}
.footer__socialmenu li a span {
    display:none;
}
.footer__menu li {
    display:block;
    padding:0.4em 0;
}
.footer__menu li a {
    text-decoration:none;
    /*text-transform: uppercase;*/
    color:#fff;
    font-size:1em;
    transition:color 0.25s ease, padding 0.3s ease;
}

.footer__menu li a:hover {
    color:#e17645;
    padding:0 0 0 10px;
}
.footer__address {
    line-break: normal;
}
.cookies {
    height:60px;
    width:100%;
    display:block;
    background:rgba(0,0,0,0.75);
    position:fixed;
    color:#fff;
    bottom:0;
    left:0;
    z-index:100;
    text-align:center;
    box-sizing: border-box;
}

form input[type=text], form input[type=email] {
    border:1px solid #ccc;
    height:40px;
    line-height:40px;
    padding:0 0 0 1em;
    border-radius: 4px;
    display:block;
    width:100%;
}
form input[type=text].error {
    border:1px solid #f00;
    box-shadow:0 0 5px #f00;
    color:#f00;
}
form textarea {
    display:block;
    width:100%;
    padding:1em;
    border:1px solid #ccc;
    border-radius:4px;
    min-height: 200px;
}
form select {
    display:block;
    width:100%;
    height:40px;
    border:1px solid #ccc;
    background:#fff;
    padding:0 0 0 1em;
}
form .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border-radius:34px;
}
form .switch input {display:none;}
form .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius:35px;
}
form .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius:50%;
}
form input:checked + .slider {
    background-color: #687561;
}

form input:focus + .slider {
    box-shadow: 0 0 1px #687561;
}

form input:checked + .slider:before {
    -webkit-transform: translatex(26px);
    -ms-transform: translatex(26px);
    transform: translatex(26px);
}

form label {
    display:block;
    font-weight:bold;
    padding:0 0 10px 0;
}
.form-group {
    padding:0 0 1em 0;
}

.cookies__message {
    line-height:60px;
}
.cookies__link-agree {
    display:inline-block;
    color:green;
    text-decoration:none;
}
.cookies__link-disagree {
    color:red;
}

/* UTILITY STUFF FOR RE-USE */
.result {
    transition:0.5s background-color;
    padding:1em;
    margin:1em 0 1em 0;
    border-radius:4px;
    font-size:0.9em;
    display:none;
}
.result.lg {
    font-size:1.4em;
}
.result ul {
    list-style-type:circle;
    padding:0 0 0 2em;
    font-size:0.8em;
}
.result ul li {
    padding:0 0 0.5em 0;
}
.result.lg .text {
    padding:0 0 1em 0;
    margin:0;
}
.result .text {
    padding:0;
    margin:0;
}
.bg-success {
    background: #28a745;
    color:#FFF;
}
.bg-error {
    background: #8b0000;
    color: #FFF;
}
.txt-left {text-align:left;}
.txt-right {text-align:right;}
.txt-center {text-align:center;}
.heading {
    text-align: center;
    color:#687561;
    text-transform: uppercase;
    border-bottom:1px solid #e17645;
    padding:0 0 0.5em 0;
    margin:0 0 1.5em 0;
}

blockquote {
    font-size:1.5em;
    color:#666;
    display:block;
    font-family:Georgia,serif;
    font-style:italic;
    text-align:center;
    width:80%;
    margin:1em auto;
    padding:0 0 1em 0;
    position:relative;
}


/*IMG UTITILITY*/
.float-left {float:left;}
.float-right {float:right;}

img[class*='responsive'].float-right {margin:0 0 2em 2em;}
img[class*='responsive'].float-left {margin:0 2em 2em 0;}

.responsive-img-100 { width:100%;}
.responsive-img-75 { width:75%;}
.responsive-img-50 { width:50%;}
.responsive-img-25 { width:25%;}
.responsive-img-10 { width:10%;}

/* PRICING TABLE */
.pricing-table {
    display:flex;
    width:90%;
    margin:0 auto 1em auto;
}
.pricing-table::after {
    display:block;
    content: '';
    clear:both;
}
.pricing-table .section__heading {
    font-family:Oswald, Arial, Helvetica, sans-serif;
    /*font-weight:700;*/
    color:#e17645;
    font-size:3em;
    margin:0;
    text-align:center;
}
.pricing-table .section__text {
    margin:0 0 0 2em;
    width:66%;
}
.pricing-table .section {
    width:33.3333%;
    position:relative;
    border-radius:5px;
    border:1px solid #e17645;
    padding:0em 0em 100px 0em;
    float:left;
    transition:all 0.5s ease;
}
.pricing-table .section:hover {background:rgba(225,118,69,0.2);}
/*.pricing-table .section:hover .btn {color:#e17645;border:1px solid #e17645;background:#FFF;}*/
.pricing-table .section:nth-child(1){margin:0 1em 0 0 ;}
.pricing-table .section:nth-child(3){margin:0 0 0 1em ;}
.pricing-table .section__features li {
    display:block;
    padding:1em 1em;
    text-align:center;
}
.pricing-table .section__price {
    font-size:75px;
    text-align: center;
    position: relative;
    margin:0;
}
.pricing-table .section__price::before {
    content: '£';
    position:absolute;
    top:10px;
    left:20%;
    font-size:30px;
    color:#e17645;
}
/*.pricing-table .section__features li:nth-child(even) {*/
    /*background: rgba(200,200,200,0.25);*/
/*}*/

.pricing-table .section__enquire .btn:hover {
    background:#e17645;
    color:#FFF;
}
.pricing-table .section__enquire {
    width:100%;
    position:absolute;
    padding:1em 0;
    bottom:0;
    left:0;
    text-align:center;
}

/* IMAGE GALLERY */
.gallery div {
    width:calc(25% - 0.5em);
    height:75px;
    overflow:hidden;
    float:left;
    margin:0 0.5em 1em 0;
}
.gallery div:nth-child(4n){
    width:25%;
    margin:0 0 1em 0;
}
.gallery div img {
    width:100%;
}

h1.heading {font-size:2.5em;}
h2.heading {font-size:2em;}
h3.heading {font-size:1.75em;}
h4.heading {font-size:1.5em;}
h5.heading {font-size:1.25em;}

/*WEATHER OVERLAY*/
@keyframes rotateloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.weather .loading-box {
    text-align: center;
    font-family:Oswald,Arial,Helvetica,sans-serif;
    color:#687561;
    font-size:2em;

}
.weather .loading-box img {
    width:200px;
    margin:0 auto;
    animation: rotateloader 2s infinite;

}
#weather-box {
    display:none;
}
#overlay {
    position: fixed;
    /*display: flex;*/
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    display:none;
    background:#e17645;
    background-color: rgba(225,118,69,0.8); /* Black background with opacity */
    z-index: 300;
}
#overlay .weather {
    position:relative;
    width:80%;
    top:75px;
    margin:0 auto 75px auto;
    padding:2em;
    background:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 20px #000;
}
#overlay .weather .weather__copyright {
    font-size:0.8em;
    text-align:center;
    padding:1em 0;
}
#overlay .weather i.fa-times {
    font-size:1.5em;
    padding:10px;
    display:block;
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
    transition:0.25s color ease-in-out;
}
#overlay .weather i:hover {
    cursor: pointer;
    color:#e17645;
}
#overlay .weather table {
    width:100%;
    border-collapse: collapse;
    margin:1em 0 2em 0;
    text-align:left;
}
#overlay .weather table tr td img {
    padding:0 0 0 1em;
}
#overlay .weather table tr:nth-child(even) {
    background:#eeeeee;
}

/* SOME ANIMATIONS */
@keyframes fadeIn { from { opacity:0;transform:  translate(0px,50px); } to { opacity:1;transform:  translate(0px,0px); } }

.fade-in {
    opacity: 0;
    animation: fadeIn ease 1;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.3s;
}

/* ACCORDIAN BOX */
.accordion { width:100%;border-radius:5px;}
.accordion-toggle {cursor: pointer;background:#687561;padding:1em;font-weight: bold;color:#FFF;border-top:1px solid #FFF;transition:background-color 0.5s ease;}
.accordion-toggle:hover {background: #b0bea7;}
.accordion-toggle:first-child { border-bottom:none!important;}
.accordion-toggle::after {content:'';display:block;clear:both;}
.accordion-toggle span {float:right; font-weight:normal;}
.accordion-content {display: none;padding:1em;}
.accordion-content.default {display: block;}

/* MAKE OVERLAP ONLY AVAILABLE ON LARGER SCREENS */
@media screen and (min-width: 768px){
    .overlap {
        position:relative;
        top:-1em;
        background:#fff;
        transition:position 1s;
    }
    .overlap::before {
        content:"";
        height:200px;
        width:100%;
        padding:3em;
        margin:0 auto;
        display:block;
        background:#fff;
        box-shadow:0 0 40px #687561;
        top:-2em;
        left:-3em;
        position:absolute;
        z-index:-2;
    }
    .overlap::after {
        content:"";
        height:75px;
        width:100%;
        padding:3em;
        position:absolute;
        top:150px;
        left:-3em;
        background:#fff;
        box-shadow:0 0 100px #fff;
        display:block;
        z-index:-1;
    }
}

/* larger than 1024 */
@media screen and (max-width:1024px){

    .col-m-1 { width: calc((100%/12)*1) ;}
    .col-m-2 { width: calc((100%/12)*2) ;}
    .col-m-3 { width: calc((100%/12)*3) ;}
    .col-m-4 { width: calc((100%/12)*4) ;}
    .col-m-5 { width: calc((100%/12)*5) ;}
    .col-m-6 { width: calc((100%/12)*6) ;}
    .col-m-7 { width: calc((100%/12)*7) ;}
    .col-m-8 { width: calc((100%/12)*8) ;}
    .col-m-9 { width: calc((100%/12)*9) ;}
    .col-m-10 { width: calc((100%/12)*10) ;}
    .col-m-11 { width: calc((100%/12)*11) ;}
    .col-m-12 { width: calc((100%/12)*12) ;}

    /* WEATHER OVERLAY */
    #overlay .weather {
        width:85%;
    }
    .route {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .route__weather {
        float:none;
        width:100%;
        height:inherit;

    }
    .route .spacer {
        flex-grow:1;
    }
    .route__info {
        margin-top:1em;
        float:none;
        width:100%;
        bottom:0;
        left:0;

    }

    .pricing-table {
        width:100%;
    }
    /**/

    /* ACTIVITY LISTINGS */
    .activity {
        width:100%;
        float:none;
        margin:0 0 1em 0!important;
        padding:0;
        min-height:350px;
    }
    .activity .activity__content {
        background: linear-gradient(rgba(0, 0, 0, 0.25) 0%,rgba(104, 117, 97, 1) 75%);
    }




}

@media screen and (min-width: 768px) and (max-width:860px)  {

    .nav__menu li a {
        padding:0 0 0 1em;

    }

}

/*1440*/
@media screen and (min-width:1441px) {

    /*styles here for super large screens*/
    body {
        font-size:1.15em;
    }

}
/*1280*/

/*1024*/

/*768*/
@media screen and (max-width:768px){

    .col-s-1 { width: calc((100%/12)*1) ;}
    .col-s-2 { width: calc((100%/12)*2) ;}
    .col-s-3 { width: calc((100%/12)*3) ;}
    .col-s-4 { width: calc((100%/12)*4) ;}
    .col-s-5 { width: calc((100%/12)*5) ;}
    .col-s-6 { width: calc((100%/12)*6) ;}
    .col-s-7 { width: calc((100%/12)*7) ;}
    .col-s-8 { width: calc((100%/12)*8) ;}
    .col-s-9 { width: calc((100%/12)*9) ;}
    .col-s-10 { width: calc((100%/12)*10) ;}
    .col-s-11 { width: calc((100%/12)*11) ;}
    .col-s-12 { width: calc((100%/12)*12) ;}

    /* WEATHER OVERLAY */
    #overlay .weather {
        width:97%;
    }
    #weather-box table thead {
        font-size:0.75em;

    }
    #weather-box .hide {
        display:none;
    }

    footer .row [class*="col-"] {
        width:100%;
    }
    .nav__submenu {
        display:none;
        position:static;
        opacity:1;
        left:0;
        top:0;
    }
    .nav__menu li:nth-child(3):hover .nav__submenu,
    .nav__menu li:nth-child(4):hover .nav__submenu {
        display:none;
    }
    .nav__brand {
        left:calc(50% - 55px);
    }
    .nav__telephone {
        display:block;
        height:75px;
        width:75px;
        left:10px;
        top:0;
        text-align: center;
        position:absolute;
        font-size:30px;
    }
    .nav__telephone a {
        text-decoration:none;
        color:#fff;
    }
    .nav__menu {
        background:rgba(225,118,69,0.9);
        display:block;
        position:absolute;
        width:80%;
        height:100vh;
        top:0;
        left:0;
        transition:0.25s ease;
        box-shadow:0 0 30px #000;

        z-index:100;
    }
    .nav__menu.open {
        left:-80%;
        box-shadow:none;
    }
    .nav__menu li {
        float:none;
    }
    .nav__menu li a {
        text-align:center;
        width:100%;
        height:10vh;
        line-height:10vh;
        display:block;
        border-bottom:1px solid #fff;
    }
    .nav__menu li a:hover {
        color:#fff;
    }
    .nav__hamburger {
        display:block;
        height:20px;
        width:25px;
        position:absolute;
        top:27px;
        right:5%;
        cursor: pointer;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
    }
    .nav__hamburger span {
        height:4px;
        background:#fff;
        left: 0;
        width:100%;
        display:block;
        position:absolute;
        border-radius:1px;
        transform: rotate(0deg);
        transition: .2s ease-in-out;
    }

    .nav__hamburger span:nth-child(2),.nav__hamburger span:nth-child(3) {
        top:8px;
    }
    .nav__hamburger span:nth-child(4){
        bottom:0;
    }

    .nav__hamburger.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    .nav__hamburger.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .nav__hamburger.open span:nth-child(1),.nav__hamburger.open span:nth-child(4) {
        width: 0;
        left: 50%;
    }

    /* ROUTES  */
    .route, .route:only-child {
        display:block;
        float:none;
        width:100%;
        margin:0 0 1em 0!important;
    }
    .route-row {
        display:block;
    }
    .route__weather {
        padding:0.5em;
    }

    .btn-back {

        top:70px;
        left:20px;

    }

    .pricing-table {
        width:100%;
        display:block;
    }
    [class*='responsive-img'] {
        float:none;
        width:100%;
        margin:0!important;
        padding:0!important;
    }
    .pricing-table .section__text {
        width:100%;
        float:none;
        margin:0;
        padding:0;
    }
    .pricing-table .section {
        margin:0 0 1em 0!important;
        width:100%;
        float:none;
    }

}

/*640*/
@media screen and (max-width:640px){
    .row [class*="col-"] {
        width:100%;
        padding-left:0;
        padding-right:0;
    }
}
@media screen and (max-width:520px) {



}