/*@import url('reset.css');*/
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
html, * {
    padding:0;
    margin:0;
}
* {
    box-sizing: border-box;
}

/* TYPOGRPAHY */
ul {list-style:none;padding:0;margin:0;}
h1{ font-size: 2em;font-family: 'Oswald', sans-serif;font-weight:400;}
h2{ font-size: 1.5em;font-family: 'Oswald', sans-serif;font-weight:400;}
h3{ font-size: 1.17em;font-family: 'Oswald', sans-serif;font-weight:400;}
h4{ font-size: 1em;font-family: 'Oswald', sans-serif;font-weight:400;}
h5{ font-size: 0.83em;font-family: 'Oswald', sans-serif;font-weight:400;}
h6{ font-size: 0.75em;font-family: 'Oswald', sans-serif;font-weight:400;}


p { line-height: 1.5;
    margin: 0 0 1em;    }

/*
COLUMN LOGIC
*/
.row [class*="col-"] {
    float: left;
    padding: 20px;
}
.row [class*="col-"]:first-child {
    padding-left:0;
    /*background:#F00;*/
}
.row [class*="col-"]:last-child{
    padding-right:0;
    /*background:blue;*/
}
/*TEMP FOR VISUAL DEBUG*/
/*.row [class*="col-"]:nth-child(even){*/
    /*background:rgba(155,0,155,0.3);*/
/*}*/
/*.row [class*="col-"]:nth-child(odd){*/
    /*background:rgba(155,155,0,0.3);*/
/*}*/

.col-1 { width: calc((100%/12)*1) ;}
.col-2 { width: calc((100%/12)*2) ;}
.col-3 { width: calc((100%/12)*3) ;}
.col-4 { width: calc((100%/12)*4) ;}
.col-5 { width: calc((100%/12)*5) ;}
.col-6 { width: calc((100%/12)*6) ;}
.col-7 { width: calc((100%/12)*7) ;}
.col-8 { width: calc((100%/12)*8) ;}
.col-9 { width: calc((100%/12)*9) ;}
.col-10 { width: calc((100%/12)*10) ;}
.col-11 { width: calc((100%/12)*11) ;}
.col-12 { width: calc((100%/12)*12) ;}
.row::after {
	content:'';
	display:block;
	clear:both;
}

/*
GREEN #687561
ORANGE #E17645

colors
 */


.btn {
    background-color: #333333; /* Green */
    border: none;
    color: #FFF;
    padding:10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:1em;
    border-radius:5px;
    font-family:Oswald,sans-serif;
    transition:background-color 0.2s;
    /*box-shadow:0px 0px 3px #333;*/
}
.btn-lg {
    padding: 15px 32px;
    font-size: 1.2em;

}
.btn-orng {background:#E17645;}
.btn-orng:hover {background: #ff9455;}
.btn-khak {background:#687561;}
.btn-khak:hover {background: #86937e;}

.khaki-bg {background:#687561;}
.khaki-txt {color:#687561;}
.orange-bg {background:#E17645;}
.orange-txt {color:#E17645;}

body {
    font-size:16px;
    font-family:Helvetica,Arial,sans-serif;
    background:#687561; /*Flood page with green so no white gaps at the bottom*/
}
.body {
    padding:2em 0;
    background:#FFF; /* COUNTER THE GREEN FLOOD FROM ABOVE */
    position:relative;
    z-index:0;
}
/* NAV STYLES */
nav {
    background:#687561;
    height:75px;
    width:100%;
    line-height:75px;
    position:fixed;
    top:0;
    z-index:100;
    box-shadow: 0 0 20px #000;
}
nav::after {
    content: ' ';
    clear:both;
}
.nav__brand {
    height:110px;
    width:110px;
    background:url('/img/nav-logo.svg') no-repeat center center;
    display:block;
    float:left;
    position:relative;
    top:20px;
}
.nav__brand__span {
    display:none;
}
nav ul {
font-family: 'Oswald', sans-serif;
    float:right;

}
nav ul li {
float:left;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding:0 1em;
    color:#FFF;
    font-size:1.2em;
    transition:color 0.25s ease;
    display:block;
    position:relative;
}
nav ul li a:hover {
    color:#E17645;
    text-shadow: 0 0 5px #333;
}
nav ul li a::after {
    content:'';
    position:absolute;
    width:25px;
    height:5px;
    bottom:0;
    left:calc((100% - 25px)/2);
    background:#FFF;
    opacity:0;
    transition: opacity 0.25s;
}
nav ul li a:hover::after {
    opacity:0.8;
    box-shadow:0 0 10px #EEE;
}

.hero {
    width:100%;
    margin-top:75px;
    background:url('/img/placeholder-1.jpg') center center no-repeat fixed;
    background-size:cover;
    padding:calc(50px + 2em) 0 calc(100px + 2em) 0;
    min-height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFF;
    position:relative;
    z-index:0;
    transition:background-image 2s ease;
}
.hero::after {
    content: '';
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.25);
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    display:block;
    position:absolute;
    bottom:0;
    z-index:-1;
}
.hero h1 {
    font-size:3em;
    z-index:3;
}

.container {
    width:80%;
    max-width:1536px;
    margin:0 auto;
}

.band {
    background:#E17645;
    color:#FFF;
    padding:2em 0;
    margin:2em 0;
    position:relative;
}
.band::before {
    content: '';
    height:100px;
    background:url('/img/band-top.svg') bottom center  no-repeat;
    width:100%;
    display:block;
    position:absolute;
    left:0;
    top:-99px;
}
.band::after{
    content: '';
    height:100px;
    background:url('/img/band-top.svg') top center  no-repeat;
    transform: rotate(180deg);
    width:100%;
    display:block;
    position:absolute;
    left:0;
    bottom:-100px);
}
.overlap {
    position:relative;
    top:-10vh;
    background:#FFF;
    transition:position 1s;
}
.overlap::before {
    content:"";
    height:200px;
    width:100%;
    padding:3em;
    margin:0 auto;
    display:block;
    background:#FFF;
    box-shadow:0 0 40px #687561;
    top:-3em;
    left:-3em;
    position:absolute;
    z-index:-2;
}
.overlap::after {
    content:"";
    height:75px;
    width:100%;
    padding:3em;
    position:absolute;
    top:150px;
    left:-3em;
    background:#FFF;
    box-shadow:0px 0px 100px #FFF;
    display:block;
    z-index:-1;
}

/* FOOTER STYLES */
.footer__copyright {
    text-align:center;
    padding:1em 0;
    font-size:0.8em;
    color:#CCC;
}
footer {
    color:#FFF;
    padding:2em 0 5em 0;
    background:url(/img/faded-logo@2x.png) bottom center no-repeat fixed;
    background-size: auto;
    /*background-attachment: ;*/
}
footer h2 {
    font-size:1.2em;
    text-transform: uppercase;
    padding:0 0 0.8em 0;
    text-shadow:1px 1px 5px #666;
}
footer form {
    /*display:inline-block;*/
}
footer form label {
    display:none;
}
footer form div {
    position:relative;
}
footer form  input[type=text] {
    width:100%;
    height:40px;
    padding:0 100px 0 10px;
    border:none;
    border-radius:3px;
    position:relative;
    display:block;
}
footer form input[type=text]::placeholder {
    color:#CCC;
    font-size:1.3em;
}
footer form button[type=submit] {
    height:34px;
    width:95px;
    border:none;
    position:absolute;
    bottom:3px;
    right:3px;
    background:#E17645;
    color:#FFF;
    font-size:0.8em;
    cursor: pointer;
    transition:background-color 0.25s ease;
}
footer form button[type=submit]:hover {
    background:#ff9455;
}

.footer__socialmenu {
    padding:0 0 1em 0;
}
.footer__socialmenu li {
    display:inline-block;
}
.footer__socialmenu li a {
    height:40px;
    width:40px;
    margin:0 5px 0 0;
    background:#E17645;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
    color:#FFF;
    font-size:1.5em;
    border-radius:3px;
    transition: background-color 0.25s ease-out, font-size 0.3s ease;
}
.footer__socialmenu li a:hover {
    background:#ff9455;
    /*font-size:1.8em;*/
}
.footer__socialmenu li a span {
    display:none;
}
.footer__menu li {
    display:block;
    padding:0.4em 0;
}
.footer__menu li a {
    text-decoration:none;
    /*text-transform: uppercase;*/
    color:#FFF;
    font-size:1em;
    transition:color 0.25s ease, padding 0.3s ease;
}

.footer__menu li a:hover {
    color:#E17645;
    padding:0 0 0 10px;
}
.footer__address {
    line-break: normal;
}
.cookies {
    height:60px;
    width:100%;
    display:block;
    background:rgba(0,0,0,0.75);
    position:fixed;
    color:#FFF;
    bottom:0;
    left:0;
    z-index:100;
    text-align:center;
    box-sizing: border-box;
}
.cookies__message {
    line-height:60px;
}
.cookies__link-agree {
    display:inline-block;
    color:green;
    text-decoration:none;
}
.cookies__link-disagree {
    color:red;
}

/* LARGER THAN 1024 */
@media screen and (max-width:1024px){

    .col-m-1 { width: calc((100%/12)*1) ;}
    .col-m-2 { width: calc((100%/12)*2) ;}
    .col-m-3 { width: calc((100%/12)*3) ;}
    .col-m-4 { width: calc((100%/12)*4) ;}
    .col-m-5 { width: calc((100%/12)*5) ;}
    .col-m-6 { width: calc((100%/12)*6) ;}
    .col-m-7 { width: calc((100%/12)*7) ;}
    .col-m-8 { width: calc((100%/12)*8) ;}
    .col-m-9 { width: calc((100%/12)*9) ;}
    .col-m-10 { width: calc((100%/12)*10) ;}
    .col-m-11 { width: calc((100%/12)*11) ;}
    .col-m-12 { width: calc((100%/12)*12) ;}
    /*.row [class*="col-"] {*/
        /*width:100%;*/
    /*}*/
}
/*1440*/
@media screen and (min-width:1441px) {

/*STYLES HERE FOR SUPER LARGE SCREENS*/
    body {
        font-size:1.15em;
    }

}
/*1280*/

/*1024*/

/*768*/
@media screen and (max-width:768px){

    .col-s-1 { width: calc((100%/12)*1) ;}
    .col-s-2 { width: calc((100%/12)*2) ;}
    .col-s-3 { width: calc((100%/12)*3) ;}
    .col-s-4 { width: calc((100%/12)*4) ;}
    .col-s-5 { width: calc((100%/12)*5) ;}
    .col-s-6 { width: calc((100%/12)*6) ;}
    .col-s-7 { width: calc((100%/12)*7) ;}
    .col-s-8 { width: calc((100%/12)*8) ;}
    .col-s-9 { width: calc((100%/12)*9) ;}
    .col-s-10 { width: calc((100%/12)*10) ;}
    .col-s-11 { width: calc((100%/12)*11) ;}
    .col-s-12 { width: calc((100%/12)*12) ;}
    /*.row [class*="col-"] {*/
    /*width:100%;*/
    /*}*/
}

/*640*/
@media screen and (max-width:640px){
    .row [class*="col-"] {
        width:100%;
        padding-left:0px;
        padding-right:0px;
    }
}