@import "utility-styles.css";
html, body {
    height:100%;
    color:#202334;

    /*margin:0;*/
}
#main-container {
    height:100%;
    width:100%;
    display:flex;
}
#main-container::after {
    content:'';
    display:block;
    clear:both;
}
#side-bar {
    padding:2em 0 0 0;
    position:fixed;
    background:#202334;
    color:#FFF;
    font-family:Oswald,Arial,Helvetica;
    height:100%;
    overflow: hidden;
    width:300px;
    box-shadow:0 0 10px #333;
}
.side-bar__logo {
    display:block;
    width:50%;
    border-radius:100%;
    margin:0 auto;
    text-align:center;
    box-shadow:0px 0px 5px #333;
}
.side-bar__heading {
    color:#FFF;
    text-transform:uppercase;
    text-align: center;
    margin:0.5em 0;
    text-shadow: 1px 1px 1px #101020;
}
.side-bar__user {
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
    text-align: center;
    color:deepskyblue;
}
.side-bar__copyright {
    font-family:Arial,Helvetica,sans-serif;
    font-size:0.6em;
    text-transform: uppercase;
    text-align:center;
    color: #555869;
    position:relative;
    top:50px;

}
nav ul li a {
    font-size:1.1em;
    text-transform:uppercase;
    text-decoration: none;
    display:block;
    color: #f5f5f5;
    padding:1em 0;
    border-bottom:1px solid #33374b;
    transition:0.25s ease-in-out;
}
nav ul li a:first-child {
    border-top:1px solid #33374b;
}
nav ul li a:hover {
    background:#33374b;
}
nav ul li a i {
    padding:0 1em 0 2em;
    transition:color 0.25s ease;
}
nav ul li a:hover i {
    color:deepskyblue;
}

#main-body {
    width:100%;
    padding:2em 100px 2em 350px;
}
/*ENQUIRIES CSS*/
.table {
    width:100%;
    border-collapse: collapse;

}

.table td, .table th {
    text-align:left;
    padding:0.8em;
}
.table thead {
    background:#202334;
    color:#FFF;
}
.table__button {
    font-size:1.2em;
    height:40px;
    width:40px;
    display:inline-block;
    background:#efefef;
    border-radius:40px;
    text-align:center;
    line-height:40px;
    color:#FFF;
    margin:0 5px 5px 0;
    transition:0.2s ease-in-out;
}
.table tbody td:nth-child(2) a {
    text-decoration:none;
    color:deepskyblue;
}
.table tbody tr {
    transition:0.25s background-color ease;
}
.table tbody tr:hover {
    background:#ededed;
}
.table tbody td {
    border-bottom:1px solid #e5e8eb;
}
/*.table tbody td:nth-child(4){ text-align: right;}*/
.table__button:nth-child(1){ background:deepskyblue; }
.table__button:nth-child(1):hover{ background: #75c6ff; }
.table__button:nth-child(2){ background:#33374b; }
.table__button:nth-child(2):hover{ background: #6e778e; }
.table__button.remove{ background:#8b0000; }
.table__button.remove:hover{ background: #ce0000; }
.table__button span {
    display:none;
}

/* SOME PANEL CSS LIKE BOOTSTRAP */
/*SMALL FLEX HACK TO STRETCH PANELS*/
.row {
    display:flex;
}
.panel {
    display:block;
    width:100%;
    height:100%;
    border:1px solid #eee;
    border-radius:5px;
}
.panel-body, .panel-heading {
    padding:1em;
    display:block;

}
.panel-body {
    white-space:pre-line;
}
.panel-heading {

    border-radius:5px 5px 0 0;

}
.panel-heading {
    background:#202334;
    color:#FFF;
}
.panel.panel-green .panel-heading {
    background:#44B7AF;
    color:#FFF;
}

.enquiry__message {
    padding:2em;
    font-size:1.2em;
    border-radius:5px;
    background:#eee;
    margin:1em 0 1em 0;
    white-space: pre-wrap;
    position:relative;
}
/* ADMIN BTNS */
.btn {
    display:inline-block;
    padding:0.5em 1em;
    margin:0 0 1em 0;
    background:deepskyblue;
    text-transform: uppercase;
    text-decoration:none;
    font-family:Oswald,Helvetica,Arial,sans-serif;
    border-radius:5px;
    color:#FFF;
    border:none;
    font-size:1em;
    transition:background-color 0.5s ease;
}
.btn-small {
    font-size:0.8em;
}
.btn:hover {
    background:#33374b;
}
.text-box {
    display:block;
    border:1px solid #eee;
    border-radius:10px;
    margin:0 0 1em 0;
    width:100%;
    padding:1em;
    font-size:1.5em;
}

/* STYLE SPECIFIC MEDIA QUERIES */
@media screen and (max-width:1024px) {

    #side-bar {
        width: 200px;
    }

    #main-body {
        padding:2em 100px 2em 250px;
    }
    .hide {
        display:none;
    }
    /*REMOVE FLEX*/
    .row {
        display:block;
    }
    .row [class*="col-"] {
        width:100%;
        padding-left:0;
        padding-right:0;
    }

}
@media screen and (max-width:768px) {


    .sm-hide {
        display:none;
    }
    #side-bar {
        width:100px;
    }
    #main-body {
        padding:2em 100px 2em 150px;
    }
    .side-bar__logo { margin:0 auto 1em auto;}
    .side-bar__heading {display:none;}
    .side-bar__user {display:none;}
    nav {
        padding:0;
        text-align:center;
    }
    nav ul li a i {
        padding:0;
    }
    nav ul li a span {
        display:none;
    }
    nav ul li a:hover {
        padding:0 0 0 0;
    }

    .table {
        font-size:0.8em;
    }


}